<div class="container-fluid" ng-controller="activitiesController as actvCtrl">
  <button type="button" class="btn btn-primary btn-sm" ng-click="activityListService.newActivity()"> <i class="glyphicon glyphicon-plus"></i></button>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 activity-card" ng-repeat="activity in activityListService.activityList">
      <div class="container-fluid">
        <h4>
          {{activity.name}}
          <i class="glyphicon glyphicon-option-vertical pull-right"></i>
          <a href="#/Activity/{{activity.id}}"><i class="glyphicon glyphicon-pencil pull-right" ng-click="editActivity(activity)"></i></a>
        </h4>
        <div>{{activity.kind}}</div>
        <div content-editable ng-model="activity.kind"></div>
        <div>Início: {{activity.startDate | date : 'dd/MM/yy hh:mm'}}</div>
        <div>Fim: {{activity.endDate | date : 'dd/MM/yy hh:mm'}}</div>
        <div>Tempo Total: {{activity.getDurationStr()}}</div>
        <div>
          <button type="button" name="btnPlay" class="btn btn-success" ng-click="activityListService.startActivity(activity)" ng-disabled="activity.running()">
            <i class="glyphicon glyphicon-play"></i>
          </button>
          <button type="button" name="btnStop" class="btn btn-danger" ng-click="activity.stopPeriod()" ng-disabled="!activity.running()">
            <i class="glyphicon glyphicon-stop"></i>
          </button>
          <button type="button" name="btnStop" class="btn btn-primary" ng-click="activity.stopPeriod()" ng-disabled="activity.registered">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
